body {
  min-width: 320px;
  min-height: 100vh;
  @extend %flex;
  @extend %flex-column;
  background: $color-body-bg;
  font-size: $size-main;
  color: $color-light;
}

.layout-2-column {
  @include columns($width: calc(50% - 30px));

  @media (max-width: 768px) {
    @include columns($width: 100%);

  }
}