%flex {
    display: flex;
}

%flex-column {
    flex-direction: column;
}

%js-content-space-between {
    justify-content: space-between;
}

%al-items-center {
    align-items: center;
}

%icon-block {
    width: 32px;
    height: 32px;
    background-size: 3.2rem 3.2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}