/* Colors */
$color-intro: #1C361C;
$color-bg: #303030;
$color-body-bg: #222222;
$color-light: #ffff;
$color-menu: #008966;
$color-border-menu: #007c5d;
$color-active-menu: #00bc8c;
$color-wrong-answer: #e70f0fb3;
/* size */
$size-main: 2rem;