.answers {
    padding: .4rem 0;
}

.answer-list__item {
    @extend %flex;
    @extend %al-items-center;
    padding: 2.5rem;
    background-color: #303030;
    font-size: 2vh;
    border: 1px solid #555;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    @extend %cursor-pointer;

    &:hover {
        transition: ease-in-out .5s;
        color: $color-wrong-answer;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.answers__container {
    flex-wrap: wrap;
}

.cicle {
    display: inline-block;
    background-color: #444;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: ease-in-out .2s;
}

.instruction {
    @extend %flex;
    @extend %flex-column;
    @extend %al-items-center;
    @extend %js-content-center;
    gap: 4rem;
    padding: 5rem 0;

    &.instruction-display {
        display: none;
    }
}

.instruction__item {
    font-size: 3vh;

    @media (max-width: 768px) {
        font-size: 2vh;
    }

}

.bird-description {
    background: $color-bg;
}