.level__container {
    display: flex;
    padding: 0 0 .4rem;

}

.level__button {
    display: inline-block;
    width: 100%;
    background: #303030;
    color: $color-light;
    border: none;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
}