.level__container {
    @extend %flex;
    padding: 0 0 .4rem;

}

.level__button {
    width: 100%;
    display: inline-block;
    padding: 1rem 0;
    background: $color-bg;
    color: $color-light;
    text-align: center;
    border: none;
    @extend %cursor-pointer;
}