.question__container {
    @extend %flex;
    justify-content: space-between;
    gap: 5rem;
    background: $color-bg;
}

.question__content {
    width: 100%;
}

.question-bird__img {
    width: 300px;
}

.question__title {
    font-size: 3vh;
}