.question__container {
    @extend %flex;
    @extend %js-content-space-between;
    gap: 5rem;
    background: $color-bg;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.question__content {
    width: 100%;
}

.question-bird__img {
    width: 300px;

    @media (max-width: 768px) {
        width: 100%
    }
}

.question__title {
    font-size: 3vh;

    @media (max-width: 768px) {
        text-align: center;
    }
}